{% extends "base.html" %}
{% block content %}
    <a id="green" class="clickable create_new_post" href="/create_new_post">Create New Post</a>

    <section class="blog_list">
        {% for blog in blog_list %}
            <div class="blog">
                <h3 class="blog_title"> {{ blog.title }} </h3>
                <p class="blog_content"> {{ blog.content }} </p>

                <div class="blog_buttons_div">
                    <a href="/edit_template/{{ blog.id }}"   class="clickable" id="blue">Edit</a>
                    <a href="/delete/{{ blog.id }}"  class="clickable" id="red">Delete</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}